.pageTitle {
  font-size: 3rem;
  margin-bottom: 3rem;
}

.listContainer {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.followUnfollowButton {
  background-color: #256bbc;
  color: #ffffff;
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 0.6rem;
  transition: background-color 0.3s;
  box-shadow: 0 0.4rem 4rem rgba(0, 0, 0, 0.15);
  width: 10rem;
}

.followUnfollowButton:hover {
  background-color: #0d4381;
}

.userpic {
  width: 8rem;
  height: 8rem;
  border-radius: 100%;
  object-fit: cover;
}

.listItem > div:first-child {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

.listItem > div:last-child {
  display: flex;
  flex-grow: 1;
  gap: 3rem;
}

.listItem {
  display: flex;
  width: 100%;
  gap: 3rem;
}

.userInfo {
  flex-grow: 1;
}

.userName {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.paginationTop {
  margin-bottom: 6rem;
}

.paginationBottom {
  margin-top: 6rem;
}
