.navigation {
  grid-area: navigation;
  background-color: #ededed;
  padding: 3rem;
}

.navigation ul {
  display: grid;
  gap: 1rem;
}

.active {
  color: inherit;
}

.navigation a {
  text-decoration: none;
}
