.headImage {
  width: calc(100% + 3rem);
  transform: translate(-3rem, -3rem);
  height: 30rem;
  object-fit: cover;
}

.userInfo {
  display: grid;
  grid-template-columns: min-content 1fr;
  margin-bottom: 3rem;
}

.userInfo img {
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  border-radius: 100%;
  margin-right: 3rem;
}
