html {
  font-size: 62.5%;
}

body {
  font: 1.6rem sans-serif;
  color: #232323;
}

body * {
  line-height: 160%;
}

a {
  color: #256bbc;
}

* {
  box-sizing: border-box;
}

.wrapper {
  max-width: 1140px;
  min-height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: min-content 1fr;
  grid-template-areas: "header header" "navigation content";
}

.content {
  padding: 3rem 0 3rem 3rem;
  grid-area: content;
}

.content li {
  cursor: pointer;
}

a.active {
  text-decoration: none;
  font-weight: bold;
}
